.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
.profile h1 {
    color: rgb(57, 177, 73);
    font-family: auto;
}
.profile input{
    padding: 14px;
    margin: 12px;
    width: 20%;
    border: solid 0.5px lightgrey;
}
.profile button{
    padding: 5px;
    width: 139px;
    border: 0.1px solid lightseagreen;
    background-color: #9eeba9;
}
